@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-Regular.ttf');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-Medium.ttf');
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-SemiBold.ttf');
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: 'Baloo Bhai';
	src: url('../fonts/BalooBhai-Regular.ttf');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 500;
	src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 600;
	src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 900;
	src: url('../fonts/Poppins-Black.ttf');
}

@font-face {
	font-family: 'BakbakOne';
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/BakbakOne-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	font-weight: 800;
	src: url('../fonts//Montserrat-ExtraBold.ttf');
}
